:root {
    font-size: 8em;
    --black: #0f1939;
    --blue: #37507e;
    --white: #fdfbdf;
    --std-anim: cubic-bezier(0.33, 1, 0.66, 1);
}

* {
    margin: 0;
}

body {
    background: 
        radial-gradient(circle at top left, #e3aa8764, transparent 50%),
        radial-gradient(circle at top right, #e3aa8764, transparent 50%),
        radial-gradient(#37457b, var(--black));
    display: flex;
    width: 100dvw;
    height: 100dvh;

    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.grid {
    --rotX: 0deg;
    --rotZ: 0deg;
    display: grid;
    place-items: center;
    transition: transform 0.3s var(--std-anim);
    transform: perspective(700px) rotateX(calc(var(--rotX) + 50deg)) rotateZ(var(--rotZ)) translate3d(0rem, 0rem, 0rem);
    transform-style: preserve-3d;
}


/* Common */

.sprite {
    --rotationZ: 0;
    --rotationX: 0;
    --sprite-z-offset: 0rem;
    --sprite-y-offset: 0rem;

    image-rendering: pixelated;
    transition: all 0.3s ease-in-out;
    transform-origin: center bottom;
    transform:
        translate3d(0, var(--sprite-y-offset), var(--sprite-z-offset))
        rotateZ(var(--rotationZ))
        rotateX(var(--rotationX));
}

.sprite[anim="no-animation"] {
    animation: none;
}

.sprite[anim="drop-animation"] {
    animation: apparition 1.5s var(--std-anim);
}

.sprite[anim="fade-animation"] {
    animation: fade-in 0.3s ease-out;
}

.sprite[anim="joy-animation"] {
    animation: joy-dance 1s ease-in-out infinite;
}

@keyframes apparition {
    0% {
        opacity: 0;
        scale: 0;
        transform:
            translate3d(0, var(--sprite-y-offset), calc(var(--sprite-z-offset) + 5rem))
            rotateZ(var(--rotationZ))
            rotateX(var(--rotationX));
    }
    100% {
        opacity: 1;
        scale: 1;
        transform:
            translate3d(0, var(--sprite-y-offset), var(--sprite-z-offset))
            rotateZ(var(--rotationZ))
            rotateX(var(--rotationX));
    }
}

@keyframes fade-in {
    0% { opacity: 0; scale: 0; }
    100% { opacity: 1; scale: 1; }
}

@keyframes joy-dance {
    0%, 100% {
        transform:
            translate3d(0, var(--sprite-y-offset), var(--sprite-z-offset))
            rotateZ(var(--rotationZ))
            rotateX(var(--rotationX))
            skewX(-10deg);
    }
    50% {
        transform:
            translate3d(0, var(--sprite-y-offset), var(--sprite-z-offset))
            rotateZ(var(--rotationZ))
            rotateX(var(--rotationX))
            skewX(10deg);
    }
}


/* TILES BASE */

.nonwalkable {
    width: 1rem;
    height: 1rem;
    background-color: var(--black);
}

.walkable {
    width: 1rem;
    height: 1rem;
    /* background-color: var(--white); */
    background: url("/sprites/floor.webp");
    background-size: cover;
    image-rendering: pixelated;
    
    z-index: -10;
}

/* OBJS */

.obj {
    width: 1rem;
    height: 1rem;
    z-index: 10;
    background-image: url("/sprites/objects.webp");
    background-size: 4rem;
}

.obj-paint {
    background-position: 0rem 1rem;
}

.obj-yarn {
    background-position: -3rem 1rem;
}

.obj-soap {
    background-position: -2rem 1rem;
}

.obj-puddle {
    background-position: -1rem 1rem;
}

.obj-bucket {
    background-position: -0rem 2rem;
}


/* ENTITIES */

.entity-cat {
    width: 1rem;
    height: 1rem;
    background-image: url("/sprites/cat.webp");
    position: relative;
    background-size: 3rem;
    background-position: bottom left 0%;
    image-rendering: pixelated;
    z-index: 20;
    /* transform:
        translate3d(0, var(--sprite-y-offset), var(--sprite-z-offset))
        translate(0rem, 0rem)
        rotateZ(var(--rotationZ))
        rotateX(var(--rotationX)) */
        /* translate3d(0rem, 0rem, 0rem); */
        /* translate(2rem, 0rem); */
}