span, h1, h2, h3, p {
    font-size: 20%;
    color: var(--white);
    font-family: monospace;
}

[hidden] { display: none !important; }

.ui {
    position: fixed;
    top: 0;
    right: 0;
    width: 100dvw;
    height: 100dvh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    transition: height 0.3s ease-in-out;
}

/* .ui[data-visible="false"] {
    pointer-events: none;
    height: 120dvh;
}

.ui[data-visible="true"] {
    pointer-events: auto;
    height: 100dvh;
} */

header {
    /* width: fit-content;
    height: fit-content; */
    
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    transition: transform 1s cubic-bezier(0.33, 1, 0.66, 1);
}

.ui[visible="false"] header {
    transform: translateY(-1rem);
}

header div {
    height: min-content;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-size: 1.5rem;
}

header button {
    width: 0.5rem;
    height: 0.5rem;
    background: url('/sprites/ui.webp') no-repeat;
    background-size: 1.5rem;
    image-rendering: pixelated;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    outline: 4px var(--blue) outset;
    transition: all 0.1s var(--std-anim);
}

header button:hover {
    border-radius: 20%;
}

header button:active {
    outline: 4px var(--blue) inset;
}

.moves-remaning-div {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-size: 1.5rem;
}

.moves-remaning-div .sprite {
    width: 0.5rem;
    height: 0.5rem;
    background-size: 2rem;
    background-position: 0 100%;
}

.btn.undo {
    background-position: 0 0;
}

.btn.home {
    background-position: 50% 0;
}

.btn.reset {
    background-position: 100% 0rem;
}



footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}




/* HELPERS */

.arrow-key-help {
    width: 3rem;
    height: 2rem;
    display: grid;
    grid-template-areas: 
        ". u ."
        "l d r";
    scale: 0.5;
}

.arrow {
    --size: 1rem;
    width: var(--size);
    height: var(--size);
    background: url('/sprites/ui.webp') no-repeat;
    background-size: calc(var(--size) * 3);
    image-rendering: pixelated;
    display: block;
    background-position: 0% 100%;
}

.arrow::after, .follow-mouse div {
    content: "";
    background-position: 50% 100%;
}

.arrow:nth-child(1) { grid-area: u; }
.arrow:nth-child(1)::after { transform: rotate(0deg); }

.arrow:nth-child(2) { grid-area: l; }
.arrow:nth-child(2)::after { transform: rotate(-90deg); }

.arrow:nth-child(3) { grid-area: d; }
.arrow:nth-child(3)::after { transform: rotate(180deg); }

.arrow:nth-child(4) { grid-area: r; }
.arrow:nth-child(4)::after { transform: rotate(90deg); }




.screen-elements {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    pointer-events: none;
    
}

.follow-mouse {
    display: flex;
    gap: 0.1rem;
    position: absolute;
    translate: -50% -50%;
    padding: 0.1rem;
    background-color: var(--black);
    border: 5px solid var(--white);
    border-radius: 10px;
    opacity: 1;
    animation: 
        infinite alternate wiggle 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    cursor: pointer;
}

.follow-mouse div {
    --size: 0.2rem;
    rotate: 90deg;
    /* width: 0.2rem;
    height: 0.2rem;
    image-rendering: pixelated;
    background: url('/sprites/ui.webp') no-repeat;
    background-size: 0.6rem;
    background-position: 50% 100%;
    rotate: 90deg; */
}

@keyframes wiggle {
    0% { transform: rotate(-5deg); }
    100% { transform: rotate(5deg); }
    
}